{% extends "menu_lateral.html" %}
{% load static %}
{%block lugar%}Usuario{%endblock%}

{%block contenido%}

<div class="widget">
	
<div class="widget-header">
<h3><i class="fa fa-edit"></i>Cambiando Contraseña</h3>
</div>

<div class="widget-content">
	{%if confirmacion%}
<div class="alert alert-success alert-dismissable">

    <a class="close" href="">

        ×

    </a>
    {{confirmacion}}
</div>
{%endif%}
<form id='cambiar' class="form-horizontal" enctype="multipart/form-data" method='post' action='' data-parsley-validate novalidate>{% csrf_token%}

			<div class="form-group">
			<div class="col-md-4">
			<div class="input-group">


			<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña Actual" required data-parsley-required-message="Campo requerido">
			<span class="input-group-addon">
			<i class="fa fa-lock">
			</i>
			</span>
			</div>
			</div>
			</div>
					{%if error%}
			<div class="form-group">
			<div class="col-md-6">
		

			<span class='text-danger'>{{error}}.</span><p/>

		</div>
		</div>
		{%endif%}
		
			<div class="form-group">
			<div class="col-md-4">
			<div class="input-group">
			<input type="password" id="password1" name="password1" class="form-control" placeholder="Nueva Contraseña" required required data-parsley-required-message="Campo requerido">
			<span class="input-group-addon">
			<i class="fa fa-lock">
			</i>
			</span>
		</div>
		</div>
		</div>
		<div class="form-group">

			<div class="col-md-4">
		<div class="input-group">
			<input type="password" id="password2" name="password2" class="form-control" placeholder="Repetir Contraseña" required data-parsley-equalto="#password1" data-parsley-equalto-message="Las contraseñas no coinciden" required required data-parsley-required-message="Campo requerido">
			<span class="input-group-addon">
			<i class="fa fa-lock">
			</i>
			</span>
		</div>
		</div>
		</div>
		<div class="form-group">
			<div class="col-md-3">
			<button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-download  "></i> Cambiar Contraseña</button></p>
		</div>
</div>


</form>

    </div></div>  
{% endblock %}


{%block js %}<script src="{% static 'assets/js/plugins/parsley-validation/parsley.min.js' %}"></script>
{% endblock%}
